#product-overview {
    background: url("/trainer/images/freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.plan {
    background-color: #dfffdc;
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 8px;
    padding: 16px;
    vertical-align:middle;
}

.plan__highlightened {
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__name {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan__highlightened .plan__name {
    color: whitesmoke;
}

.plan__highlightened .plan__price {
    color: #0e4f1f;
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.5);
    border-radius: 8px;
}

.plan__features {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.plan__feature {
    margin: 8px 0px;
}

.section-reasons {
    background: #ff1b68;
    margin-top: 50px;
}

.section-reasons .section-title {
    color: white;
    margin: 32px;
    padding: 16px;
}

.section-reasons__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.section-reason {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.section-reason__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.section-reason__image {
    background: #ffcede;
    height: 128px;
    width: 128px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    margin: auto;
}
